{
"databaseFile": "users.db",
"logLevel": 2,
"botToken": "BOTTOKEN",
"botPrefix": ".",
"botMessageCache": 200,
"coinName": "Avrio",
"coinSymbol": "AIO",
"coinAddressPrefix": "aio", 
"coinUnits": 10000,
"coinAddressLength": 97, 
"tipFee": 0.08,
"tipMixin": 1,
"tipSuccessReact": "💸",
"tipFailedReact": "🆘",
"tipLowBalanceReact": "❌",
"tipJoinReact": ":tips:",
"tipCustomReacts":{},
"faucetHost": "",
"faucetEndpoint": "",
"faucetAddress": "",
"marketSource": "",
"marketEndpoint": "",
"marketBTCEndpoint": "",
"marketDisallowedServers": [],
"daemonHost": "127.0.0.1",
"daemonPort": 24524,
"walletHost": "127.0.0.1",
"walletPort": 24562,
"walletRpcPassword": "password",
"walletUpdateDelay": 5000
}
