{
"databaseFile": "users.db",
"logLevel": 2,
"botToken": "BOTTOKEN",
"botPrefix": ".",
"botMessageCache": 200,
"coinName": "Dragonglass",
"coinSymbol": "DRGL",
"coinAddressPrefix": "dRGL", 
"coinUnits": 10000000,
"coinAddressLength": 98, 
"tipFee": 0.08,
"tipMixin": 1,
"tipSuccessReact": "💸",
"tipFailedReact": "🆘",
"tipLowBalanceReact": "❌",
"tipJoinReact": ":tips:",
"tipCustomReacts":{},
"faucetHost": "",
"faucetEndpoint": "",
"faucetAddress": "",
"marketSource": "",
"marketEndpoint": "",
"marketBTCEndpoint": "",
"marketDisallowedServers": [],
"daemonHost": "127.0.0.1",
"daemonPort": 31018,
"walletHost": "127.0.0.1",
"walletPort": 38070,
"walletRpcPassword": "password",
"walletUpdateDelay": 5000
}
