{
"databaseFile": "users.db",
"logLevel": 2,
"botToken": "BOTTOKEN",
"botPrefix": ".",
"botMessageCache": 200,
"coinName": "AmityCoin",
"coinSymbol": "AMIT",
"coinAddressPrefix": "amit", 
"coinUnits": 10000,
"coinAddressLength": 98, 
"tipFee": 0.0010,
"tipMixin": 3,
"tipSuccessReact": "💸",
"tipFailedReact": "🆘",
"tipLowBalanceReact": "❌",
"tipJoinReact": ":tips:",
"tipCustomReacts":{
":morpheus:": 0.0500,
":neo:": 0.0500,
":amit:": 0.1000
},
"faucetHost": "",
"faucetEndpoint": "",
"faucetAddress": "",
"marketSource": "",
"marketEndpoint": "",
"marketBTCEndpoint": "",
"marketDisallowedServers": [],
"daemonHost": "127.0.0.1",
"daemonPort": 31018,
"walletHost": "127.0.0.1",
"walletPort": 38070,
"walletRpcPassword": "password",
"walletUpdateDelay": 5000
}
